---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets"

import one from "../images/1.jpg"
import two from "../images/2.jpg"
import three from "../images/3.jpg"
import four from "../images/4.jpg"
import MainSection from "../components/MainSection.astro"
---

<Layout title="Gallery">
  <MainSection>
    <div
      class="pt-5"
      style="display: grid; grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(2, 1fr); 
      gap: .5rem;
      width: 100%; 
      aspect-ratio: 1/1;"
    >
      <Image src={three} width={650} alt="H2O Power Pro gear" />
      <Image src={four} width={650} alt="Window screen washing" />
      <Image src={one} width={650} alt="Window washing first floor" />
      <Image src={two} width={650} alt="Window washing second floor" />
    </div>
  </MainSection>
</Layout>
