---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets"

import one from "../images/1.jpg"
import two from "../images/2.jpg"
import three from "../images/3.jpg"
import four from "../images/4.jpg"
import MainSection from "../components/MainSection.astro"
---

<Layout title="Gallery">
  <MainSection>
    <div
      class="pt-5"
      style="display: grid; grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(2, 1fr); 
      gap: .5rem;
      width: 100%; 
      aspect-ratio: 1/1;"
    >
      <Image src={three} width={650} alt="H2O Power Pro gear" />
      <!-- switch these ones -->
      <Image src={four} width={650} alt="Window screen washing" />
      <Image src={one} width={650} alt="Window washing first floor" />
      <Image src={two} width={650} alt="Window washing second floor" />
    </div>

    <!-- <iframe
      class="pt-2 m-auto"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/NF7EQ7Rq1eA?si=lkzTEe7HLR6BbG8x"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>

    <iframe
      class="pt-2 m-auto"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/TiYYaMmbyKQ?si=DF9WIOtOhZT9CpM8"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>

    <iframe
      class="pt-2 m-auto"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/F0AJyVa-x5Q?si=DVl9lOVG8_JtHpxl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe> -->
  </MainSection>
</Layout>
