---
import Layout from "../layouts/Layout.astro"

import MainSection from "../components/MainSection.astro"
import ImageTextCombo from "../components/ImageTextCombo.astro"
import ImageText from "../components/ImageText.astro"
import BasicImage from "../components/BasicImage.astro"

import Reviews from "../components/Reviews.astro"
import { getCollection } from "astro:content"

const aboutContent = await getCollection("about")

import ImageTextSection from "../components/ImageTextSection.astro"
---

<Layout title="H2O Power Pro" pathname={"/"}>
  <MainSection>
    <ImageTextSection>
      {
        aboutContent.map(async (content) => {
          const renderedHtml = await content.render()
          const Content = renderedHtml.Content
          return (
            <ImageTextCombo>
              <BasicImage
                slot="image"
                src={content.data.image}
                alt={content.data.alt}
              />
              <ImageText slot="text">
                <Content />
              </ImageText>
            </ImageTextCombo>
          )
        })
      }
    </ImageTextSection>
  </MainSection>

  <MainSection>
    <div class="max-w-xl m-auto mt-8 overflow-hidden border-2 h-96">
      <div class="flex flex-col items-center animate">
        <Reviews />
        <Reviews />
      </div>
    </div>
  </MainSection>

  <style>
    .animate {
      animation: slide 60s linear infinite;
    }

    .animate:hover {
      animation-play-state: paused;
    }

    @keyframes slide {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-50%);
      }
    }
  </style>
</Layout>
