---
import Layout from "../layouts/Layout.astro"
---

<Layout title="H2O Power Pro">
  <section style="background-color: rgb(152,152,152)">
    <header style="text-align: center">
      <h1>
        H2O Power Pro<br />
         Las Vegas Valley<br />
         Restore Your Property's Beauty<br />
         702-303-9006
      </h1>
      <img
        style="max-height: 200px"
        src="/imgs/logo.webp"
        alt="H20 Power Pro Logo"
      />
      <p>Professional pressure washing services for your home or business.</p>
      <a href="mailto:owner@H2OPowerPro.com" class="estimateButton"
        >CONTACT US</a
      >
    </header>
  </section>

  <section>
    <main>
      <div class="imageTextContainer">
        <img
          class="innerItem"
          src="/imgs/brickwall.webp"
          alt="Washing brick wall"
        />
        <p class="innerItem">
          We are a Nevada born company serving Las Vegas, Henderson and the
          surrounding valley. H2O Power Pro will meet all your residential and
          commercial needs. We are committed to providing top-notch services
          that not only cleans but protects your home or business from future
          damage. We take pride in our work and strive for complete customer
          satisfaction with every job we do. We are Nevada licensed and insured.
        </p>
      </div>

      <div class="imageTextContainer reverse">
        <img
          class="innerItem"
          src="/imgs/truck.webp"
          alt="Washing brick wall"
        />
        <p class="innerItem">
          H2O Power Pro invests in the latest state of the art equipment
          featuring a 220-degree high pressure washer removing stubborn stains
          using industry leading cleaning agents. We also offer soft washing
          with Pure Water taking great care in treating your windows and solar
          panels. In addition to all your cleaning needs we offer paver sealing
          to enhance the durability, preventing weathering and stains while
          maintaining a vibrant appearance.
        </p>
      </div>

      <div class="imageTextContainer">
        <img
          class="innerItem"
          src="/imgs/equipment.webp"
          alt="Company equipment"
        />
        <ul>
          <li>
            <b>High Pressure Washing</b> at 220 degrees with a PSI of 3500 at 5
            GPM.
          </li>
          <li>Hard surfaces, structures, walls and more.</li>
          <li>Remove stains, graffiti and efflorescence.</li>
          <li>
            <b>Low Pressure Washing</b> using pure deionized spot free H2O.
          </li>
          <li>Window and screen cleaning</li>
          <li>Solar Panels</li>
          <li>Marine, RV and Auto</li>
        </ul>
      </div>

      <div class="imageTextContainer reverse">
        <img
          class="innerItem"
          src="/imgs/bricks.webp"
          alt="Washing brick wall"
        />
        <div class="innerItem">
          <p><b>H2O Power Pro - Paver Cleaning and Sealing</b></p>
          <p>
            Paver sealing is a great option that offers immediate results
            enhancing the beauty and character of your home producing a natural
            look or even a high gloss finish. More importantly forming a
            protective barrier from weather and staining.
          </p>
        </div>
      </div>

      <div class="imageTextContainer">
        <img class="innerItem" src="/imgs/window.webp" alt="Window washing" />
        <div class="innerItem">
          <p><b>H2O Power Pro - Window Cleaning</b></p>
          <p>
            Our exterior window cleaning service provides amazing results using
            a PURE SPOT FREE water fed pole. The soft brush does all the work
            leaving a spot free shine. Our optional screen cleaning service will
            elevate the appearance of your home. Contact us today for a free
            estimate.
          </p>
        </div>
      </div>

      <div class="imageTextContainer reverse">
        <img class="innerItem" src="/imgs/solar.webp" alt="Washing solar" />
        <div class="innerItem">
          <p><b>H2O Power Pro - Solar Panel Cleaning</b></p>
          <p>
            Protect your investment and maximize the efficiency of your system.
            We do not use any chemicals that could potentially harm your solar
            panel system. We truly rely on the PURE SPOT FREE WATER method to
            ensure your system is protected and cleaned.
          </p>
        </div>
      </div>

      <footer style="text-align: center">
        <a href="https://www.facebook.com/people/H2O-Power-Pro/61551053690915/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            viewBox="0 0 40 40"
            style="width: 3rem"
          >
            <linearGradient
              id="a"
              x1="-277.375"
              x2="-277.375"
              y1="406.6018"
              y2="407.5726"
              gradientTransform="matrix(40 0 0 -39.7778 11115.001 16212.334)"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="#0062e0"></stop>
              <stop offset="1" stop-color="#19afff"></stop>
            </linearGradient>
            <path
              fill="url(#a)"
              d="M16.7 39.8C7.2 38.1 0 29.9 0 20 0 9 9 0 20 0s20 9 20 20c0 9.9-7.2 18.1-16.7 19.8l-1.1-.9h-4.4l-1.1.9z"
            ></path>
            <path
              fill="#fff"
              d="m27.8 25.6.9-5.6h-5.3v-3.9c0-1.6.6-2.8 3-2.8H29V8.2c-1.4-.2-3-.4-4.4-.4-4.6 0-7.8 2.8-7.8 7.8V20h-5v5.6h5v14.1c1.1.2 2.2.3 3.3.3 1.1 0 2.2-.1 3.3-.3V25.6h4.4z"
            ></path>
          </svg>
        </a>
      </footer>
    </main>
  </section>
</Layout>

<style>
  h1 {
    /* font-size: 32px; */
    font-size: 2em;
  }

  .imageTextContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .innerItem {
    box-sizing: border-box;
    width: 50%;
    padding: 1rem;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  @media screen and (max-width: 700px) {
    .imageTextContainer {
      flex-direction: column;
    }

    .innerItem {
      width: 100%;
    }
  }

  main {
    max-width: 1100px;
    margin: 0 auto;
  }

  .estimateButton {
    display: inline-block;
    padding: 1rem;
    border: 1px solid black;
    text-decoration: none;
    background-color: white;
    color: black;
    margin: 1rem;
  }

  section {
    padding: 0;
    margin: 0;
    padding: 1rem;
  }

  header {
    max-width: 900px;
    margin: 0 auto;
  }

  img {
    object-fit: contain;
    width: 100%;
  }
</style>
