---
import Layout from "../layouts/Layout.astro"
import FacebookIcon from "../components/icons/FacebookIcon.astro"
import GoogleIcon from "../components/icons/GoogleIcon.astro"
import YelpIcon from "../components/YelpIcon.astro"
import InstagramIcon from "../components/icons/InstagramIcon.astro"
import LocationIcon from "../components/icons/LocationIcon.astro"
import { Image } from "astro:assets"

import one from "../images/1.jpg"
import two from "../images/2.jpg"
import three from "../images/3.jpg"
import four from "../images/4.jpg"
import AboutUs from "../components/sections/AboutUs.astro"
import Services from "../components/sections/Services.astro"
---

<Layout title="H2O Power Pro">
  <main class="font-serif">
    <nav class="w-full bg-gradient-to-tr from-indigo-900 to-blue-400">
      <div class="flex max-w-screen-lg m-auto text-l sm:text-2xl">
        <a href="#about" class="p-4 text-white hover:text-blue-200">About</a>
        <a href="#services" class="p-4 text-white hover:text-blue-200"
          >Services</a
        >
        <a href="#contact" class="p-4 text-white hover:text-blue-200">Contact</a
        >
        <a href="#buy" class="p-4 text-white hover:text-blue-200">Buy</a>
      </div>
    </nav>
    <header>
      <h1 class="text-5xl font-extrabold text-center pt-14 text-slate-900">
        H2O Power Pro
      </h1>
      <p class="text-xl text-center text-slate-600">
        <i>Restore Your Property's Beauty</i>
      </p>
      <p
        class="flex items-center justify-center gap-1 text-xl text-center fill-slate-600 text-slate-600"
      >
        <LocationIcon height="1.25rem" /> Las Vegas Valley
      </p>
    </header>

    <AboutUs />
    <Services />

    <section>
      <h2 style="text-align: center; margin-bottom: 2rem" id="gallery">
        Gallery
      </h2>
      <div
        style="display: grid; grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(2, 1fr); 
      gap: .5rem;
      width: 100%; 
      aspect-ratio: 1/1;"
      >
        <Image src={three} alt="H2O Power Pro gear" />
        <Image src={four} alt="Window screen washing" />
        <Image src={one} alt="Window washing first floor" />
        <Image src={two} alt="Window washing second floor" />
      </div>
    </section>

    <section>
      <h2
        style="
        text-align:
        center;
        margin-bottom:
        2rem"
        id="contact"
      >
        Contact us
      </h2>
      <div style="text-align: center">
        <p>
          📧
          <a
            href="mailto:owner@H2OPowerPro.com"
            style="font-weight: 500; color: rgb(0, 0, 135)"
            >owner@H2OPowerPro.com</a
          >
        </p>
        <p>
          📞
          <a href="tel:702-303-9006" style="color: rgb(0, 0, 135)">
            702-303-9006</a
          >
        </p>
      </div>
    </section>

    <section>
      <h2 style="text-align: center; margin-bottom: 2rem" id="buy">
        Purchase Services
      </h2>
      <div style="text-align: center">
        <p>
          <b>Bin Service</b><br />
          <a href="https://buy.stripe.com/7sIeXm3MZeIwabK7sw">Monthly</a>
           or
          <a href="https://buy.stripe.com/8wMaH6erD6c04RqeUU">One Time</a>
        </p>
        <p></p>
        <p>
          <a href="https://buy.stripe.com/00gcPe97j6c0es0cMN">
            Custom Service</a
          >
        </p>
      </div>
    </section>
    <footer
      style="text-align: center; display: flex; justify-content: center; gap: 1rem; margin-top: 2rem"
    >
      <a
        href="https://www.facebook.com/people/H2O-Power-Pro/61551053690915"
        aria-label="Facebook"
      >
        <FacebookIcon />
      </a>
      <a
        href="https://www.google.com/maps/place/H2O+Power+Pro/@36.136222,-115.1574945,10z/data=!4m6!3m5!1s0x850844fd0a88fe33:0xe74f1b9b56a7ff69!8m2!3d36.136222!4d-115.1574945!16s%2Fg%2F11vb1gldw_?entry=ttu"
        aria-label="Google Maps"
      >
        <GoogleIcon />
      </a>
      <a
        href="https://www.yelp.com/biz/h2o-power-pro-henderson"
        aria-label="Yelp"
      >
        <YelpIcon />
      </a>
      <a href="https://www.instagram.com/h2opowerpro/" aria-label="Instagram">
        <InstagramIcon />
      </a>
    </footer>
  </main>
</Layout>
