---
import Layout from "../layouts/Layout.astro"
---

<Layout title="H2O Power Pro">
  <section style="background-color: rgb(152,152,152)">
    <header style="text-align: center">
      <h1>
        H2O Power Pro<br />
         Las Vegas Valley<br />
         Restore Your Property's Beauty<br />
         702-303-9006
      </h1>
      <img
        style="max-height: 200px"
        src="/imgs/logo.webp"
        alt="H20 Power Pro Logo"
      />
      <p>Professional pressure washing services for your home or business.</p>
      <a href="mailto:owner@H2OPowerPro.com" class="estimateButton"
        >REQUEST A FREE ESTIMATE</a
      >
    </header>
  </section>

  <section>
    <main>
      <div class="imageTextContainer">
        <img
          class="innerItem"
          src="/imgs/brickwall.webp"
          alt="Washing brick wall"
        />
        <p class="innerItem">
          We are a Nevada born company serving Las Vegas, Henderson and the
          surrounding valley. H2O Power Pro will meet all your residential and
          commercial needs. We are committed to providing top-notch services
          that not only cleans but protects your home or business from future
          damage. We take pride in our work and strive for complete customer
          satisfaction with every job we do. We are Nevada licensed and insured.
        </p>
      </div>

      <div class="imageTextContainer reverse">
        <img class="innerItem" src="/imgs/truck.webp" alt="Company truck" />
        <p>
          H2O Power Pro invests in the latest state of the art equipment
          featuring a 220-degree high pressure washer removing stubborn stains
          using industry leading cleaning agents. We also offer soft washing
          with Pure Water taking great care in treating your windows and solar
          panels. In addition to all your cleaning needs we offer paver sealing
          to enhance the durability, preventing weathering and stains while
          maintaining a vibrant appearance.
        </p>
      </div>
    </main>
  </section>
</Layout>

<style>
  .imageTextContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .innerItem {
    box-sizing: border-box;
    width: 50%;
    padding: 1rem;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  @media screen and (max-width: 700px) {
    .imageTextContainer {
      flex-direction: column;
    }

    .innerItem {
      width: 100%;
    }
  }

  main {
    max-width: 900px;
    margin: 0 auto;
  }

  .estimateButton {
    display: inline-block;
    padding: 1rem;
    border: 1px solid black;
    text-decoration: none;
    background-color: white;
    color: black;
    margin: 1rem;
  }

  section {
    padding: 0;
    margin: 0;
    padding: 1rem;
  }

  header {
    max-width: 900px;
    margin: 0 auto;
  }

  img {
    object-fit: contain;
    width: 100%;
  }
</style>
