---
import Layout from "../layouts/Layout.astro"

import MainSection from "../components/MainSection.astro"
import ImageTextCombo from "../components/ImageTextCombo.astro"
import ImageText from "../components/ImageText.astro"
import BasicImage from "../components/BasicImage.astro"

import wand from "../images/wand.jpg"
import truck from "../images/truck.webp"

import Review from "../components/Review.astro"
---

<Layout title="H2O Power Pro">
  <MainSection>
    <ImageTextCombo>
      <BasicImage slot="image" src={wand} alt="Washing brick wall" />
      <ImageText slot="text">
        We are a Nevada born company serving Las Vegas, Henderson and the
        surrounding valley. H2O Power Pro will meet all your residential and
        commercial needs. We are committed to providing top-notch services that
        not only cleans but protects your home or business from future damage.
        We take pride in our work and strive for complete customer satisfaction
        with every job we do. We are Nevada licensed and insured.
      </ImageText>
    </ImageTextCombo>
    <ImageTextCombo>
      <BasicImage reverse={true} slot="image" src={truck} alt="Company truck" />
      <ImageText slot="text">
        H2O Power Pro invests in the latest state of the art equipment featuring
        a 220-degree high pressure washer removing stubborn stains using
        industry leading cleaning agents. We also offer soft washing with Pure
        Water taking great care in treating your windows and solar panels. In
        addition to all your cleaning needs we offer paver sealing to enhance
        the durability, preventing weathering and stains while maintaining a
        vibrant appearance.
      </ImageText>
    </ImageTextCombo>
  </MainSection>

  <MainSection>
    <div
      class="max-w-lg p-4 m-auto mt-8 overflow-hidden border-2 shadow-inner h-72"
    >
      <div class="flex flex-col items-center space-y-2 divide-y-2 animate">
        <Review name="Roy Coronado">
          Just had Kevin hot pressure washed my back patio. I tried doing myself
          but there is a difference between home depot products and professional
          products. Between the professional cleaners and the 200 plus degree
          pressure wash the patio looks like new again. What a great job and
          thank you!
        </Review>
        <Review name="Joan MacFadgen">
          This company does not fool around. They get the job done in a
          professional and extremely efficient manner. Excellent results! Highly
          recommend!!
        </Review>
        <Review name="Kindra Roberts">
          The owner of H20 Power Pro, Kevin, does AMAZING work!! He was prompt,
          efficient, and I plan on recommending him to friends and family.
        </Review>
        <Review name="Pat Thomas">
          Kevin does fabulous work! Very personable and honest!
        </Review>
        <Review name="Julie Conq-Mars">
          Kevin did an awesome job of cleaning calcium off of large fountains in
          our community. He did the job that no one else could seem to
          accomplish. They now look beautiful again! Like new! So grateful.
          Highly recommend!
        </Review>
        <Review name="Dye Trust">
          This company is fabulous! They went way and beyond to get the job
          done. They paid attention to detail, and made us a very happy customer
          who will definitely be using them again!
        </Review>

        <Review name="Roy Coronado">
          Just had Kevin hot pressure washed my back patio. I tried doing myself
          but there is a difference between home depot products and professional
          products. Between the professional cleaners and the 200 plus degree
          pressure wash the patio looks like new again. What a great job and
          thank you!
        </Review>
        <Review name="Joan MacFadgen">
          This company does not fool around. They get the job done in a
          professional and extremely efficient manner. Excellent results! Highly
          recommend!!
        </Review>
        <Review name="Kindra Roberts">
          The owner of H20 Power Pro, Kevin, does AMAZING work!! He was prompt,
          efficient, and I plan on recommending him to friends and family.
        </Review>
        <Review name="Pat Thomas">
          Kevin does fabulous work! Very personable and honest!
        </Review>
        <Review name="Julie Conq-Mars">
          Kevin did an awesome job of cleaning calcium off of large fountains in
          our community. He did the job that no one else could seem to
          accomplish. They now look beautiful again! Like new! So grateful.
          Highly recommend!
        </Review>
        <Review name="Dye Trust">
          This company is fabulous! They went way and beyond to get the job
          done. They paid attention to detail, and made us a very happy customer
          who will definitely be using them again!
        </Review>
      </div>
    </div>
  </MainSection>

  <style>
    .animate {
      animation: slide 40s linear infinite;
    }

    @keyframes slide {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-50%);
      }
    }
  </style>
</Layout>
