---
import Layout from "../layouts/Layout.astro"
import MainSection from "../components/MainSection.astro"
import Link from "../components/Link.astro"
---

<Layout title="Payment" pathname="/payment">
  <MainSection>
    <div class="prose lg:prose-lg m-auto text-lg text-center">
      <p>
        <h2>Trash Bin Pricing Plans</h2>
        <h3>Currently limited to Cadence residents</h3>
        <p class="font-bold">
          Subscription service occurs the first Tuesday of every month
        </p>
        <div class="flex justify-center space-x-1 sm:space-x-3">
          <Link href="https://buy.stripe.com/5kA6qQ3MZ9ocdnW3cj">
            Quarterly Subscription
          </Link>
           &bull;
          <Link href="https://buy.stripe.com/8wMbLadnzfMAdnW7sA">
            Single Visit
          </Link>
        </div>
      </p>
      <hr />
      <p>
        <h2>All Other Services</h2>
        <h3>Paver Sealing, Power Washing, Solar, Windows, etc.</h3>
        <Link href="https://buy.stripe.com/00gcPe97j6c0es0cMN">
          Customized Payment
        </Link>
      </p>
    </div>
  </MainSection>
</Layout>
