---
import Layout from "../layouts/Layout.astro"
import MainSection from "../components/MainSection.astro"
import Link from "../components/Link.astro"
---

<Layout title="Purchase" pathname="/purchase">
  <MainSection>
    <div class="pt-5 text-lg text-center">
      <p>
        <b class="text-xl">Trash Bin Pricing Plans</b><br />
        <div class="flex justify-center space-x-1 sm:space-x-3">
          <Link href="https://buy.stripe.com/5kA6qQ3MZ9ocdnW3cj">
            Quarterly Subscription
          </Link>
           &bull;
          <Link href="https://buy.stripe.com/8wMbLadnzfMAdnW7sA">
            Single Visit
          </Link>
        </div>
      </p>
      <p></p>
      <p class="pt-5">
        <b class="text-xl">All Other Services</b><br />
        <p class="text-xl">
          Paver Sealing, Power Washing, Solar, Windows, etc.
        </p>
        <Link href="https://buy.stripe.com/00gcPe97j6c0es0cMN">
          Customized Payment
        </Link>
      </p>
    </div>
  </MainSection>
</Layout>
