---
import Layout from "../layouts/Layout.astro"
import MainSection from "../components/MainSection.astro"
import Link from "../components/Link.astro"
---

<Layout title="Purchase">
  <MainSection>
    <div class="pt-5 text-lg text-center">
      <p>
        <b class="text-xl">Trash Bin Service</b><br />
        <Link href="https://buy.stripe.com/7sIeXm3MZeIwabK7sw">Monthly</Link>
         &bull;
        <Link href="https://buy.stripe.com/4gw02s83f6c0bfO8wC">One Time</Link>
         &bull;
        <Link href="https://buy.stripe.com/5kA02s3MZdEs83C9AF">
          Heritage Special
        </Link>
      </p>
      <p></p>
      <p class="pt-5">
        <b class="text-xl">All Other Services</b><br />
        <Link href="https://buy.stripe.com/00gcPe97j6c0es0cMN">Custom</Link>
      </p>
    </div>
  </MainSection>
</Layout>
