---
type Props = {
  name: string
}

const { name } = Astro.props

import StarIcon from "./icons/StarIcon.astro"
---

<div class="w-full p-3">
  <!-- <div class="flex"> -->
  <p class="mr-1 font-bold">{name}</p>
  <div class="flex pt-1 text-yellow-400">
    <StarIcon />
    <StarIcon />
    <StarIcon />
    <StarIcon />
    <StarIcon />
  </div>
  <!-- </div> -->
  <p class="pt-2 text-justify">
    <slot />
  </p>
</div>
