---
interface Props {
  title: string
  pathname: string
}

import PhoneIcon from "../components/icons/PhoneIcon.astro"
import MailIcon from "../components/icons/MailIcon.astro"
import FacebookIcon from "../components/icons/FacebookIcon.astro"
import GoogleIcon from "../components/icons/GoogleIcon.astro"
import YelpIcon from "../components/icons/YelpIcon.astro"
import InstagramIcon from "../components/icons/InstagramIcon.astro"
import YoutubeIcon from "../components/icons/YoutubeIcon.astro"
import { ViewTransitions } from "astro:transitions"

const { title, pathname } = Astro.props

const links = [
  ["/", "Home"],
  ["/services", "Services"],
  ["/gallery", "Gallery"],
  ["/payment", "Payment"],
]

import PowerWasher from "../components/PowerWasher.astro"

const atHome = pathname === "/"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Professional pressure washing services for your home or business."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💧</text></svg>"
    />
    <script defer src="https://cdn.vercel-insights.com/v1/script.js"></script>
    <ViewTransitions />
  </head>
  <body class="antialiased text-slate-600">
    <main class="font-serif">
      <header
        class=`text-gray-200 ${atHome ? "": "hidden sm:block"}`
        style="background-color: #A6A7A7"
      >
        <h1 class="hidden">
          H2O Power Pro Pressure Washing Las Vegas Henderson
        </h1>
        <div class="max-w-md m-auto">
          <PowerWasher />
        </div>
        <div
          class="text-xl text-center sm:flex sm:gap-4 sm:justify-center px-2"
          style="color: #0313A2"
        >
          <p class="flex items-center justify-center">
            <PhoneIcon />
            <a class="p-3 pl-2 text-xl hover:underline" href="tel:725-303-9006">
              725-303-9006
            </a>
          </p>
          <p class="flex items-center justify-center">
            <MailIcon />
            <a
              class="p-3 pl-2 text-xl hover:underline"
              href="mailto:owner@H2OPowerPro.com"
            >
              Owner@H2OPowerPro.com
            </a>
          </p>
        </div>
      </header>
      <nav
        class="flex justify-center space-x-1 text-lg w-full m-auto sticky top-0"
        style="color: #0313A2; background-color: #A6A7A7"
      >
        {
          links.map(([path, label]) => {
            const current = pathname === path

            return (
              <div>
                <a
                  class="px-3 py-2 transition-all hover:underline rounded-md hover:bg-slate-200 block relative"
                  href={path}
                >
                  {label}
                  <div
                    class="h-1 absolute bottom-0 left-0 right-0"
                    style={
                      current
                        ? "view-transition-name: current; background-color: #0313A2"
                        : ""
                    }
                  />
                </a>
              </div>
            )
          })
        }
      </nav>

      <slot />

      <footer
        class="flex justify-center gap-4 pb-5 text-center pt-7 sm:pt-14"
        transition:persist
      >
        <a
          href="https://www.facebook.com/people/H2O-Power-Pro/61551053690915"
          aria-label="Facebook"
        >
          <FacebookIcon />
        </a>
        <a
          href="https://www.google.com/maps/place/H2O+Power+Pro/@36.136222,-115.1574945,10z/data=!4m6!3m5!1s0x850844fd0a88fe33:0xe74f1b9b56a7ff69!8m2!3d36.136222!4d-115.1574945!16s%2Fg%2F11vb1gldw_?entry=ttu"
          aria-label="Google Maps"
        >
          <GoogleIcon />
        </a>
        <a
          href="https://www.yelp.com/biz/h2o-power-pro-henderson"
          aria-label="Yelp"
        >
          <YelpIcon />
        </a>
        <a href="https://www.instagram.com/h2opowerpro/" aria-label="Instagram">
          <InstagramIcon />
        </a>
        <a
          href="https://www.youtube.com/@H2OPowerProLasVegas"
          aria-label="YouTube"
        >
          <YoutubeIcon />
        </a>
      </footer>
    </main>
  </body>
</html>
